*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    
    background-color: #424e61;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.lista-cabecalho{
color: #ffffff;
}
.Primeira-parte{
    background-image:-o-linear-gradient(#242e91,#ffffff)
    height: 500px;
    color: white;
    padding-top: 100px;
}
.primeiro-paragrafo{
    color: black;
}

.segundo-paragrafo{
    color: black;
}


.foto-estudante{
width: 35%;
}


.titulo{
    color: black;
}