*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    
    background-color: #424e61;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.lista-cabecalho{
color: white;
}
.Primeira-parte{
    background-image: -o-linear-gradient(#424e61),(#4ebfe9);
    height: 500px;
    color: white;
    padding-top: 100px;
}
.texto

